.idea
# related repos
/docs
/examples

# build files
/result
/build/
/compile_commands.json
/pkg
/quickshell

# clangd
/.cache

# direnv
/.envrc
/.direnv/
quickshell-git-792-1-x86_64.pkg.tar.zst
quickshell-git-debug-792-1-x86_64.pkg.tar.zst
/src/
