.idea
# related repos
/docs
/examples

# build files
/result
/build/
/compile_commands.json

# makepkg artifacts
/pkg/
/quickshell/
/src/quickshell/
*.pkg.tar.zst

# clangd
/.cache

# direnv
/.envrc
/.direnv/
